<ion-header>
  <ion-toolbar>
    <ion-title>ajoutProduit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'  *ngIf="mode==1">
  
  <form name='addForm' #addForm='ngForm' (ngSubmit)="OnsaveProduct()" novalidate>

      <ion-list>
        <ion-item>
          <ion-label>nom</ion-label>
          <ion-input name='nomp' ngModel [(ngModel)]='currentP.nomp' required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>prix unitaire</ion-label>
          <ion-input name='prixunitairep' ngModel [(ngModel)]='currentP.prixunitairep' required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>quantite</ion-label>
          <ion-input name='qte' ngModel [(ngModel)]='currentP.qte' required></ion-input>
        </ion-item>

      </ion-list>

      <ion-button [disabled]='addForm.form.invalid'  class="btn btn-success" type="submit">Enregistrer</ion-button><br><br>
      <ion-button class="btn btn-success" type="reset">Annuler</ion-button><br><br>

  </form>

</ion-content>
